.info {
    width: 420px;
    margin-right: 114px;
}

.info-name {
    display: flex;
    align-items: center;
    width: 100%;
}

.nickname {
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 4px;
    line-height: 24px;
}

.icon {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
}

.button {
    position: absolute;
    display: inline-flex;
    right: 0;
    top: 28px;
}

.desc {
    font-size: 1.6rem;
    word-break: break-word;
}

.content {
    display: inline;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.link {
    display: inline-flex;
}

.tag {
    font-weight: 600;
    color: rgb(43, 93, 185);
}

.music {
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 12px;
}

.icon-music {
    font-size: 1.1rem;
}

.link-music {
    margin-left: 3px;
}
